.asosiy{
    text-align: center;
    position: relative;
    top: 40px;
    z-index: 1;
}

.ozim{
    width: 100%;
    filter: contrast(1.1) brightness(1.1);
}

.chiziq-bir{
    width: 20px;
    height: 6px;
    background-color: #ffffff;
}

.chiziq-ikki{
    width: 20px;
    height: 6px;
    background-color: #ffffff;
}

.asosiy .col h1{
    color: #ffffff;
    position: relative;
    top: 40px;
}

.section-ikonkalar{
    font-size: 2.5em;
}

a{
    display: inline;
    position: relative;
}

.gap{
    width: 550px;
    height: 300px;
    background-color: #52575d6b;
    z-index: 1; 
    margin-top: 100px;
    border-radius: 10px;
}

.section-chap-gap{
    font-size: 2em;
    text-align: center;
    color: #ffb623;
}

.section-chap-parag{
    color: #ffffff;
}

.section-chap-parag span{
    color: #ffb623;
}

.chap{
    position: relative;
    top: 30px;
}

.eduTitle {
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    position: relative;
    top: -20px;
}

.eduTitle::before {
    content: "";
    position: relative;
    top: 60px;
    display: inline-block;
    width: 100%;
    height: 4px;
    background: #ffb623;
}

.aboutMe {
    padding: 20px;
    width: 100%;
    background-color: #52575d6b;
    color: #fff;
    position: relative;
    top: 50px;
}


@media screen and (max-width: 768px) {
    .asosiy {
        top: 0px !important;
    }

    .gap {
        border-radius: 0;
    }
}