.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #2c2e2f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
   position: relative;
   width: 60px;
   height: 60px;
}

.spinner::before,
.spinner::after {
   content: '';
   width: 100%;
   height: 100%;
   animation: spinner-rfi6tk 1.2s infinite linear;
   box-sizing: border-box;
   border: 14px solid rgba(255,182,35,0.1);
   border-radius: 50%;
   position: absolute;
}

.spinner::before {
   animation-direction: reverse;
   border-right-color: #ffb623;
   right: calc(50% - 7px);
}

.spinner::after {
   border-left-color: #ffb623;
   left: calc(50% - 7px);
}

@keyframes spinner-rfi6tk {
   0% {
      transform: rotate(0deg);
   }

   50%, 100% {
      transform: rotate(360deg);
   }
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #2c2e2f;
    overflow: hidden;
}

.background span {
    width: 17vmin;
    height: 17vmin;
    border-radius: 17vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 40;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.background span:nth-child(0) {
        color: #ffb623;
        top: 8%;
        left: 93%;
        animation-duration: 92s;
        animation-delay: -67s;
        transform-origin: 10vw 8vh;
        box-shadow: -34vmin 0 4.469422719950182vmin currentColor;
}
.background span:nth-child(1) {
        color: #ffb623;
        top: 51%;
        left: 67%;
        animation-duration: 27s;
        animation-delay: -70s;
        transform-origin: -2vw -1vh;
        box-shadow: 34vmin 0 5.235656852497214vmin currentColor;
}
.background span:nth-child(2) {
        color: #ffffff;
        top: 81%;
        left: 9%;
        animation-duration: 43s;
        animation-delay: -49s;
        transform-origin: 23vw -3vh;
        box-shadow: -34vmin 0 4.686358802274242vmin currentColor;
}
.background span:nth-child(3) {
        color: #ffb623;
        top: 3%;
        left: 6%;
        animation-duration: 43s;
        animation-delay: -80s;
        transform-origin: -24vw 16vh;
        box-shadow: -34vmin 0 4.56135708153982vmin currentColor;
}
.background span:nth-child(4) {
        color: #ffffff;
        top: 29%;
        left: 38%;
        animation-duration: 33s;
        animation-delay: -55s;
        transform-origin: 3vw -4vh;
        box-shadow: 34vmin 0 4.398691147872147vmin currentColor;
}
.background span:nth-child(5) {
        color: #ffb623;
        top: 24%;
        left: 74%;
        animation-duration: 23s;
        animation-delay: -100s;
        transform-origin: 20vw 3vh;
        box-shadow: 34vmin 0 4.54571451365543vmin currentColor;
}
.background span:nth-child(6) {
        color: #ffb623;
        top: 34%;
        left: 77%;
        animation-duration: 18s;
        animation-delay: -61s;
        transform-origin: 8vw -16vh;
        box-shadow: 34vmin 0 5.120644488928123vmin currentColor;
}
.background span:nth-child(7) {
        color: #ffffff;
        top: 16%;
        left: 99%;
        animation-duration: 96s;
        animation-delay: -41s;
        transform-origin: -6vw -19vh;
        box-shadow: -34vmin 0 4.491642293182574vmin currentColor;
}
.background span:nth-child(8) {
        color: #ffb623;
        top: 16%;
        left: 10%;
        animation-duration: 82s;
        animation-delay: -41s;
        transform-origin: 14vw -15vh;
        box-shadow: 34vmin 0 4.665897440275472vmin currentColor;
}
.background span:nth-child(9) {
        color: #ffffff;
        top: 95%;
        left: 9%;
        animation-duration: 11s;
        animation-delay: -18s;
        transform-origin: 1vw 15vh;
        box-shadow: -34vmin 0 4.6662699137799475vmin currentColor;
}
.background span:nth-child(10) {
        color: #ffb623;
        top: 40%;
        left: 44%;
        animation-duration: 72s;
        animation-delay: -41s;
        transform-origin: 19vw 7vh;
        box-shadow: -34vmin 0 4.9059340782561085vmin currentColor;
}
.background span:nth-child(11) {
        color: #ffb623;
        top: 61%;
        left: 2%;
        animation-duration: 104s;
        animation-delay: -60s;
        transform-origin: 14vw 11vh;
        box-shadow: -34vmin 0 4.903084017648246vmin currentColor;
}
.background span:nth-child(12) {
        color: #ffffff;
        top: 66%;
        left: 61%;
        animation-duration: 27s;
        animation-delay: -8s;
        transform-origin: 6vw -5vh;
        box-shadow: -34vmin 0 4.602147868400532vmin currentColor;
}
.background span:nth-child(13) {
        color: #ffb623;
        top: 83%;
        left: 65%;
        animation-duration: 49s;
        animation-delay: -10s;
        transform-origin: -18vw -7vh;
        box-shadow: 34vmin 0 4.873420345181309vmin currentColor;
}
.background span:nth-child(14) {
        color: #ffffff;
        top: 27%;
        left: 96%;
        animation-duration: 37s;
        animation-delay: -100s;
        transform-origin: 0vw 14vh;
        box-shadow: -34vmin 0 5.051363997291952vmin currentColor;
}
.background span:nth-child(15) {
        color: #ffb623;
        top: 66%;
        left: 30%;
        animation-duration: 51s;
        animation-delay: -76s;
        transform-origin: 14vw 2vh;
        box-shadow: 34vmin 0 4.304922492941784vmin currentColor;
}
.background span:nth-child(16) {
        color: #ffb623;
        top: 19%;
        left: 79%;
        animation-duration: 55s;
        animation-delay: -14s;
        transform-origin: -11vw 17vh;
        box-shadow: -34vmin 0 4.872657066209635vmin currentColor;
}

body{
    font-family: 'Lato', sans-serif;
}

*::selection{
    background: #ffb623 !important;
    color: #ffffff;
}

::-webkit-scrollbar{
    width: 0px;
}

.btn:focus {
    outline: 0;
    box-shadow: none !important;
}

.btn-secondary:focus {
    color: #fff;
    background-color: #5c636a;
    border-color: #565e64;
    box-shadow: none !important;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none !important;
}

.btn-close:focus {
    outline: 0;
    box-shadow: none !important;
    opacity: 1;
}

.bg-menyu{
    background-color: #52575D;
    color: #ffb623;
}

.yopish{
    background-color: #ffffff;
    color: #ffffff;
}

.chegara{
    border: 1px solid #A8ABAE;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    transition: 0.15s;
}

.chegara:hover{
    background-color: #ffb623;
}

.fab{
    color: #ffb623;
    font-size: 3em;
    position: relative;
    top: 50px;
}

.navbar-ikonklar{
    text-align: center;
}

.offcanvas-body{
    background-color: #2c2e2f;
}

.offcanvas-header{
    background-color: #2c2e2f;
}

.asosiy{
    width: 550px;
    height: 550px;
    text-align: center;
    position: relative;
    top: 40px;
    z-index: 1;
}

.ozim{
    border-radius: 300px 100px 300px 200px;
    border: 4px solid #ffb623;
    width: 60%;
}

.chiziq-bir{
    width: 20px;
    height: 6px;
    background-color: #ffffff;
}

.chiziq-ikki{
    width: 20px;
    height: 6px;
    background-color: #ffffff;
}

.asosiy .col h1{
    color: #ffffff;
    position: relative;
    top: 40px;
}

.section-ikonkalar{
    font-size: 2.5em;
}
a{
    display: inline;
    position: relative;
}

.gap{
    width: 550px;
    height: 300px;
    background-color: #52575d6b;
    z-index: 1; 
    margin-top: 100px;
    border-radius: 10px;
}

.section-chap-gap{
    font-size: 2em;
    text-align: center;
    color: #ffb623;
}

.section-chap-parag{
    color: #ffffff;
}

.section-chap-parag span{
    color: #ffb623;
}

.chap{
    position: relative;
    top: 30px;
}

.footer{
    height: 80px;
    position: relative;
    top: 10vh;
    background-color: #ffb623;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer .col p span{
    color: #52575D;
    font-weight: bold;
}