.folioTitle {
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    position: relative;
    top: -20px;
}

.folioTitle::before {
    content: "";
    position: relative;
    top: 60px;
    display: inline-block;
    width: 100%;
    height: 4px;
    background: #ffb623;
}

.folioBtn {
    width: 150px !important;
    height: 60px !important;
    border: none;
    text-transform: uppercase;
    position: relative;
    /* top: 3em; */
    background: #fff !important;
    color: #2c2e2f;
    z-index: 1;
}

.folioBtn::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    background: #ffb623;
    border-radius: 4px !important;
    transform: scaleX(0);
    transform-origin: left;
    transition: 300ms;
    z-index: -1;
}

.folioBtn:hover::before {
    transform: scaleX(1);
    border-radius: 4px;
}

.folioBtn ion-icon {
    font-size: 2em;
    position: relative;
    top: 10px;
}

.btn-check:focus+.btn-secondary, .btn-secondary:focus {
    color: #2c2e2f !important;
}

.ColReverce {
    position: relative;
    top: 50px;
}

.folioThree {
    position: relative;
    top: 100px;
    /* margin-bottom: 50px; */
}

@media screen and (max-width: 992px) {
    .ColReverce {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 576px) {
    .folioFigma {
        position: relative;
        top: 30px;
        margin-bottom: 50px;
    }

    .folioBtn {
        width: 120px !important;
        height: 50px !important;
    }

    .folioBtn ion-icon {
        font-size: 1.5em;
        position: relative;
        top: 6px;
    }
}