.eduTitle {
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    position: relative;
    top: -20px;
}

.eduTitle::before {
    content: "";
    position: relative;
    top: 60px;
    display: inline-block;
    width: 100%;
    height: 4px;
    background: #ffb623;
}

.line {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.lineChild {
    width: 2px;
    height: 100%;
    background: #fff;
}

.lineCircle {
    width: 20px;
    height: 20px;
    background: #ffb623;
    border-radius: 50%;
    position: relative;
    left: -10px;
    top: 20px;
}

.eduInfo{
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: #52575d6b;
}

.eduInfo p {
    color: #fff;
    font-weight: 300;
}

.eduYil {
    color: #ffb623 !important;
}

@media screen and (max-width: 768px) {
    .line {
        display: none;
    }

    .marginSM {
        margin-top: 25px;
    }

    .footer {
        position: relative;
        top: 25px;
    }
}